/* write down the css for Carousel in this file */
.Container-parent{
    display: flex;
    justify-content: center;
}
.Container-parent button{
    display: flex;
    align-items: center;
    background-color: rgb(21, 20, 20);
    color: white;
} 
.Container-parent img{
    position: relative;
    
}
.Container-parent h2{
    position: absolute;
    background-color: white;
    width: auto;
    opacity: 0.7;
    border-radius: 8px;
    padding: 15px 80px;
    margin-top: 8%;
    font-size: 50px;
}
.Container-parent h3{
  background-color: white;
  width: auto;
  padding: 10px;
  position: absolute;
  opacity: 0.7;
  border-radius: 8px;
  margin-top: 30%;
}